/SenaiJava/nbproject/private/
/SenaiJava/LojasNews/nbproject/private/
/SenaiJava/LojasNews/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
